/*--------------attribution---------------*/
.attribution {
  height: 10vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.attribution__coder-name {
  font-size: 0.7rem;
}
