/*--------------Concepto----------------------*/

.concepto {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.concepto__card-title {
    font-weight: bold;
    margin-bottom: 1rem;
}

.concepto__card-description {
  font-weight: 300;
  line-height: 1.5rem;
}

.concepto__card {
  width: 30%;
  height: 80vh;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.concepto__card-fondoDeTexto {
  background-color: rgba(0,0,0,0.9);
  width: 100%;
  height: 55vh;
  color: white;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.concepto__card-background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ccbga {
  background-image: url('../assets/img/section/idea-1.jpg');
}

.ccbgb {
  background-image: url('../assets/img/section/analisis.jpg');
}

.ccbgc {
  background-image: url('../assets/img/section/comotrabajamos.jpg');
}

.concepto__logo {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
}



@media only screen and (max-width: 800px) {

  .concepto {
    margin-top: 10rem;
    flex-direction: column;
    height: auto;
    font-size: 1rem;
  }

  .concepto__card {
    width: 95%;
    height: 50vh;
  }

  .concepto__card-fondoDeTexto {
    width: 100%;
    height: 80%;
    background-color: rgba(0,0,0,0.9);
  }

  .concepto__logo {
    display: none;
  }

  .concepto__logo-img {
    width: 1rem;
    height: auto;
}
  .concepto__card-description {
    font-weight: 300;
    line-height: 1rem;
  }

}
