.d-none {
  display: none;
}

.swiper-container {
  width: 100%;
  height: auto;
}

.swiper-slide {
  text-align: center;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

@media only screen and (max-width: 800px) {

  .swiper-container {
    display: block;
  }

  .swiper-img {
    width: 95%;
  }

}
