/*--------------inicio-----------------------*/

.container__estrategia {
  width: 100%;
  height: 100vh;
  background-image: url('../assets/img/container-bg-textures/purple-curve.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
}

.container__estrategia-2 {
  background-image: url('../assets/img/container-bg-textures/triangulos.png');
  background-repeat: no-repeat;
  background-position: right;
  background-size: 60%;
}

.estrategia {
  width: 90%;
  margin: 0 auto;
  display: flex;
}

.estrategia__info {
  margin: auto;
  /* width: 60%; */
  width: 30rem;
  height: 80vh;
  border: 1px solid white;
  background-color: rgba(255,255,255,0.8);
  border-radius: 10px;
  padding: 3.125rem;
  box-shadow: 2px 2px 20px rgba(0,0,0,0.2);
}

.estrategia__info-title {
  color: #4b6584; /*blue horizon german palette*/
  font-size: 4rem;
  font-weight: 700; /*100 , 300 , 500 , 700*/
}

.estrategia__info-description {
  margin-top: 1rem;
  color: #2e3440;
  font-weight: 300; /*100 , 300 , 500 , 700*/
}

.estrategia__info-button {
  cursor: pointer;
  height: 2.5rem;
  margin-top: 2rem;
  text-align: center;
  background-color: #3867d6; /*royal blue german pallet*/
  border-radius: 10px;
  box-shadow: 3px 3px 8px rgba(0,0,0,0.8);
}

.estrategia__info-button:hover {
  background-color: #fd9644; /*orange hibiscus german pallet*/
  box-shadow: 4px 4px 10px #fc5c65; /*fusion red german pallet*/
}

.estrategia__info-button-link {
  color: white;
  line-height: 2.5;
}

.estrategia__img {
  width: 60rem;
  height: 100vh;
  display: flex;
  justify-content: right;
  align-items: center;
}

.estrategia__img-fondo {
  width: 85%;
}

/*media querys*/
@media only screen and (max-width: 800px) {
  .container__estrategia {
    width: 100%;
    height: auto;
    background-image: none;
  }

  .container__estrategia-2 {
    display: none;
    background-image: none;
  }

  .estrategia {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
  }

  .estrategia__info {
    width: 90%;
    height: auto;
    border: 1px solid white;
  }

  .estrategia__info-title {
    font-size: 3rem;
  }


}
