/*------------------Menú-------------------*/
.header__nav-bar {    /*conjunto del menú*/
  width: 100%;
  margin-right: 20px;
  line-height: 3rem;
  justify-content: flex-end;
}

.nav-bar__link {  /*anclas A del menú*/
  display: inline-flex;

}

.nav-bar__item {       /*list item del menu*/
  color: white;
  font-weight: 400;
  padding: 0  1rem;
}

.nav-bar__link:hover {
  background-color: #5F5FD3;
}

/*media querys*/

@media only screen and (max-width: 800px) {
  .header__nav-bar {
    width: 100%;
    justify-content: space-between;
  }

  .nav-bar__item {
    font-size: 0.8rem;
    font-weight: 400;
    padding: 0;
  }

}
