/*------------------Menú-------------------*/
.header__nav-bar {    /*conjunto del menú*/
  margin-right: 20px;
  line-height: 3rem;
}

.nav-bar__link {  /*anclas A del menú*/
  display: inline-flex;

}

.nav-bar__item {       /*list item del menu*/
  color: white;
  font-weight: 400;
  padding: 0  1rem;
}

.nav-bar__link:hover {
  background-color: #5F5FD3;
}

/*media querys*/

@media only screen and (max-width: 800px) {
  .header__nav-bar {
    line-height: 1rem;
    width: 100%;
  }

  .nav-bar__item {
    padding: 0.3rem;
    font-size: 0.8rem;
  }

}
