@import url('header.css');
@import url('menu.css');
@import url('inicio.css');
@import url('concepto.css');
@import url('trabajos.css');
@import url('quienes-somos.css');
@import url('novedades.css');
@import url('footer.css');
@import url('attr.css');
@import url('demo-slider.css');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  font-family: 'Poppins', sans-serif;
  /* background-color: #f5f6fa; /*lynx white british palette*/ */
}

ul,li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #eee;
}

.main {
  background-color: #273250;
}

.container {
  margin: 0 auto;
}
